<div class="ng-fader">
  <ul>
    <!--<li *ngFor="let image of images;let idx = index" (click)="toggleStartStop()" ng-swipe-right="sliderBack()" ng-swipe-left="sliderForward()">-->
    <li *ngFor="let image of images;let idx = index" (click)="_onImageClick.call(this, image.id)" ng-swipe-right="sliderBack()" ng-swipe-left="sliderForward()">
      <img src="{{image.src}}" alt="{{image.alt}}" class="{{show(idx)}}" />
    </li>
  </ul>
  <div class="ng-fader-pagination">
    <ul>
      <li *ngFor="let index of dots()" class="{{tagCurrentDot(index)}}" (click)="setSelected(index)"></li>
    </ul>
  </div>
  <div class="ng-fader-controls">
    <ul>
      <li (click)="sliderBack()">
        <i class="ngfader-back"></i>
      </li>
      <li (click)="stopSlider()">
        <i class="ngfader-pause {{tagStopButton()}}"></i>
      </li>
      <li (click)="startSlider()">
        <i class="ngfader-play {{tagStartButton()}}"></i>
      </li>
      <li (click)="sliderForward()">
        <i class="ngfader-forward"></i>
      </li>
    </ul>
  </div>
</div>